/* Add your custom styles here */
.hero-section {
    background-image: url('https://cdn.pixabay.com/photo/2016/09/14/08/18/film-1668918_1280.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
}
.footer-section {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
}
/* Aggiungi questa parte nel tuo foglio di stile CSS */
.film-card {
    height: 400px; /* Altezza fissa del riquadro delle immagini */
}

.film-poster-img {
    object-fit: cover; /* Adatta l'immagine al riquadro senza distorcerla */
    height: 100%; /* Occupa l'intera altezza del riquadro */
    width: 100%; /* Occupa l'intera larghezza del riquadro */
}